.footer{
    margin-top: 50px;
    background-color: rgb(56, 55, 55);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.center{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.center h2{
    font-size: 25px;
    font-weight: 600;
}
.center p{
    padding-top: 5px;
}

.foot-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.footer hr{
    color: #c9c9c9 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}